@font-face {
	font-family: "MuseoSans";
	src: url("/fonts/MuseoSansLight.woff") format("woff");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "MuseoSans";
	src: url("/fonts/MuseoSansRegular.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "MuseoSans";
	src: url("/fonts/MuseoSansMedium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "MuseoSans";
	src: url("/fonts/MuseoSansBold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}


* {
	margin: 0;
	padding: 0;

	font-family: "MuseoSans";
	font-weight: 300;
	font-size: 16px;
	color: #333333;
	list-style: none;

	box-sizing: border-box;
}



.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: 100%;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	padding-bottom: 8px;

	&__logo {}

	&__contact {
		display: flex;
		flex-direction: column;
		margin-right: 30px;

		span {
			margin-bottom: 9px;

			font-size: 0.81em;
			text-align: right;
		}

		a {
			color: #333333;
			font-size: 1.25em;
			font-weight: 700;
			text-decoration: none;
		}
	}

	&__btn {
		min-width: 170px;
		padding-top: 19px;
		padding-bottom: 17px;

		font-size: 0.81em;
		font-weight: 700;
		text-align: center;

		border-radius: 10px;
		border: none;
		background-color: #ffd200;

		cursor: pointer;
	}

	&__btn:hover {
		color: #fff;
		background-color: #e6bc03;
	}
}

.logo {
	max-width: 100%;
}

.header-top-container {
	display: flex;

}

@media (max-width: 320px) {
	.wrap {
		max-width: 300px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-top__logo {
		margin-right: 50px;
	}

	.header-top__contact {
		display: none;
	}

	.header-top__btn {
		min-width: 130px;
	}
}

.main {}

.page {
	&_gray {
		background-color: #f5f5f5;
	}
}

.key-box {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 52px;
}

.key {
	width: 467px/1170px*100%;

	&__title {
		margin-top: 40px;
		margin-bottom: 0;

		font-size: 2.55em;
		font-weight: 700;
		line-height: 50px;

	}

	&__subtitle {
		margin-top: 25px;
		display: block;
		font-size: 0.49em;
		font-weight: 700;
	}

	&__list {
		margin-top: 60px;
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		width: 265px/467px*100%;
		margin-left: 40px;
		margin-bottom: 35px;
		padding-left: 30px;


		font-size: 0.88em;
		font-weight: 300;
		line-height: 1.5em;
	}

	&__item:last-child {
		margin-bottom: 0;
	}

	&__item::before {
		display: block;
		position: absolute;
		top: 0;
		left: -40px;
		width: 40px;
		height: 40px;
		content: "";

		border: 2px solid #ffd200;
		border-radius: 50%;
	}

	&__item:first-child::before {
		top: -10px;
		background-image: url(/img/clock.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&__item:nth-child(2)::before {
		background-image: url(/img/calculator.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&__item:last-child::before {
		background-image: url(/img/paint.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.page {

	&_white {}
}

.content {
	display: flex;
	justify-content: flex-start;
}

.free-box {
	flex-basis: 50%;
}

.free {
	max-width: 496px;
	margin: 80px 90px 80px auto;

	&__text {
		width: 350px/496px*100%;
		margin-bottom: 24px;

		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.5em;
	}

	&__subtext {
		width: 235px/496px*100%;
		margin-bottom: 30px;

	}

	&__form {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__form-text {
		min-width: 240px;
		margin-right: 14px;
		margin-bottom: 30px;
		padding: 20px 0 20px 26px;

		line-height: 12px;

		border-radius: 10px;
		border: 1px solid #dddddd;
	}

	&__form-text::placeholder {
		font-size: .9em;
		font-weight: 300;
	}

	&__form-text:nth-child(2) {
		margin-right: 0;
	}

	&__form-btn {
		min-width: 495px;
		padding: 27px 0;

		font-weight: 700;
		text-align: center;

		border-radius: 10px;
		border: none;
		background-color: #ffd200;

		cursor: pointer;
	}

	&__call {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__call-left {
		width: 225px/496px*100%;

		font-size: .9em;
		font-weight: 300;
		line-height: 1.5em;
	}

	&__call-right {
		width: 192px/496px*100%;

		font-size: .9em;
		line-height: 1.5em;

		b {
			display: block;

			font-size: .9em;
			font-weight: 700;
		}
	}
}

.kitchen {

	flex-basis: 50%;

	img {
		height: 100%;
		object-fit: cover;
	}
}

.job {
	padding: 50px 0;

	&__title {
		margin-bottom: 50px;

		font-size: 1.9em;
		font-weight: 700;
		line-height: 1.5em;
		text-align: center;
	}
}

.job-slider {

	&__image {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;

		img {
			margin-right: 30px;
		}

		img:last-child {
			margin-right: 0;
		}
	}

	&__arrow {
		max-width: 120px;
		margin: 0 auto;
		margin-top: 40px;
	}

	&__arrow-left {
		display: inline-block;
		margin-right: 25px;
		width: 45px;
		height: 19px;

		background-image: url(/img/left-arrow.svg);

		cursor: pointer;
	}

	&__arrow-right {
		display: inline-block;
		width: 45px;
		height: 19px;

		background-image: url(/img/right-arrow.svg);

		cursor: pointer;
	}
}

/* #radio-arrow-left:checked ~ .job-slider__image {
	display: none;
} */

.visually-hidden {
	position: absolute;
	top: 0;
	left: 0;
	appearance: none;
}


.sale {
	margin-top: 100px;

	&__title {
		color: #000000;
		font-size: 1.9em;
		font-weight: 700;
		text-align: center;
		line-height: 1.5em;
	}

	&__subtitle {
		margin: 55px 0;
		color: #000000;
		font-size: 1.2em;
		font-weight: 100;
		text-align: center;
	}
}



.repairs-columns {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	&__item {
		width: 370px/1170px*100%;
		margin-right: 30px;

		text-align: center;

		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
	}

	&__item:nth-child(3n) {
		margin-right: 0;
	}

	&__item:nth-child(-n+3) {
		margin-bottom: 30px;
	}

	&__title {
		margin: 30px 0;

		color: #000000;
		font-size: 1.1em;
		font-weight: 300;
	}

	&__link {
		width: 96px/370px*100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 45px;

		font-weight: 700;
		text-decoration: none;

		border-bottom: 3px solid #ffd200;
	}
}

.content-time {
	margin: 150px 0 100px 0;
}

.time {
	width: 1070px/1425px*100%;
	margin: 0 auto;

	&__title {
		margin-bottom: 50px;

		color: #000000;
		font-size: 1.9em;
		font-weight: 700;
		line-height: 1.5em;
		text-align: center;
	}

	&__step {
		margin-bottom: 70px;
		max-height: 195px;
		color: #000000;
		text-align: center;
		font-size: 1.2em;
		font-weight: 100;
		line-height: 1.5em;
	}
}

.time-columns {

	display: flex;
	justify-content: flex-start;
	align-items: center;

	&__item {
		position: relative;
		width: 155px/1070px*100%;
		max-height: 195px;
		margin-right: 70px;



		.time-columns__circle:last-child {
			margin-bottom: 30px;
		}

	}

	&__item:last-child {
		margin-top: -17px;
		margin-right: 0;
	}

	&__item:first-child {
		margin-top: -17px;
	}

	&__item:not(:last-child)::after {
		position: absolute;
		display: block;
		position: absolute;
		top: -20px;
		right: -70px;
		width: 72px;
		height: 25px;
		content: "";

		background-image: url(/img/02_6.png);

	}


	&__circle {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		margin-bottom: 30px;

		border: 3px solid #ffd200;
		background-color: #ffffff;
		border-radius: 50%;
	}



	&__text {
		color: #000000;
		font-size: .9em;
		font-weight: 300;
		text-align: center;
		line-height: 1.3em;
		overflow: auto;
		text-overflow: ellipsis;
	}
}

.women {
	background-image: url(/img/02_1.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.clock {
	background-image: url(/img/02_2.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.money {
	background-image: url(/img/02_3.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.doc {
	background-image: url(/img/02_4.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.calc {
	background-image: url(/img/02_5.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.page_yellow {
	background-color: #ffc000;
}

.wholesale {
	width: 920px/1170px*100%;
	margin: 0 auto;
	padding: 50px 0;

	text-align: center;
	color: #000000;
	font-size: 2em;
	font-weight: 300;
	line-height: 1.5em;
}

.sale-columns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 140px;

	&__image {
		position: relative;
		margin-right: 30px;
	}

	&__image:nth-child(2) {

		.sale-columns__text {
			width: 290px/370px*100%;
		}
	}

	&__image:last-child {
		margin-right: 0;

		.sale-columns__text {
			width: 288px/370px*100%;
		}
	}

	&__text {
		width: 260px/370px*100%;
		top: 25px;
		left: 25px;
		position: absolute;
		color: #000000;
		font-weight: 300;
		line-height: 1.3em;

		b {
			font-weight: 700;
		}
	}
}


.warranty {
	width: 700px/1170px*100%;
	margin: 0 auto;
	margin-bottom: 100px;

	color: #000000;
	font-size: 1.9em;
	font-weight: 700;
	line-height: 1.5em;
	text-align: center;
}

.warranty-columns {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 100px;


	&__image {
		width: 285px/1170px*100%;
		margin-right: 130px;

	}

	&__image:last-child {
		margin-right: 0;
	}

	&__text {
		margin-top: 40px;

		color: #000000;
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.2em;
		text-align: center;
		overflow: auto;
		text-overflow: ellipsis;
	}
}

.job-columns {
	display: flex;
}

.job-price {
	flex-basis: 50%;

	background-color: #ffc000;

	&__box {
		max-width: 535px;
		padding: 0 10px;
		margin: 100px 70px 100px auto;
	}

	&__title {
		color: #000000;
		font-size: 1.35em;
		font-weight: 700;
		line-height: 1.5em;
	}

	&__subtitle {
		display: block;
		margin: 50px 0;

		color: #000000;
		font-weight: 300;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}


	&__item {
		margin-bottom: 30px;
	}

	&__item:last-of-type {
		margin-bottom: 0;
	}

	&__number {
		display: inline-block;
		width: 35px;
		height: 35px;
		margin-right: 30px;
		padding-top: 7px;

		color: #000000;
		font-size: .9em;
		font-weight: 700;
		text-align: center;

		border: 2px solid #000000;
		border-radius: 50%
	}

	&__text {
		display: inline-block;

		color: #000000;
		font-size: 1.1em;
		font-weight: 500;
		vertical-align: middle;

	}
}

.request {
	flex-basis: 50%;

	background-image: url(/img/05_bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	&__box {
		max-width: 390px;
		padding: 0 10px;
		margin: 100px auto 100px 200px;
	}

	&__title {

		font-size: 1.35em;
		font-weight: 700;
		line-height: 1.5em;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;

		input {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			padding: 23px;

			border-radius: 10px;
			border: 1px solid #dddddd;
			background-color: #ffffff;
		}

		input::placeholder {
			font-size: .9em;
			font-weight: 300;
		}

		input:last-of-type {
			margin-bottom: 30px;
		}
	}

	&__form-title {
		margin: 50px 0;

		text-align: center;
	}

	&__form-btn {
		width: 100%;
		margin-bottom: 30px;
		padding: 28px 0;

		color: #333333;
		text-align: center;
		font-weight: 700;
		border-radius: 10px;
		border: none;
		background-color: #ffd200;
		cursor: pointer;
	}

	&__form-subtitle {
		color: #333333;
		text-align: center;
		font-size: .9em;
	}
}

@media (max-width: 320px) {
	.wrap {
		max-width: 300px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.key-box {
		display: flex;
		flex-direction: column;
	}

	.key {
		width: 100%;

		&__title {
			margin-top: 0;
			color: #333333;
			font-size: 1.45em;
			font-weight: 700;
			line-height: 1em;
		}

		&__subtitle {
			width: 190px/270px*100%;
			margin-top: 13px;

			line-height: 1em;
		}

		&__list {
			margin-top: 30px;
			margin-bottom: 40px;
		}

		&__item {
			width: 215px/270px*100%;
			padding-left: 15px;

			font-size: 0.75em;
		}

	}

	.content {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.free {
		max-width: 300px;
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;

		&__text {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;


			font-size: 1.12em;
			font-weight: 700;
			line-height: 1.2em;
		}

		&__subtext {
			width: 100%;
			margin: 0;
			margin-bottom: 25px;

			font-size: .9em;
			font-weight: 300;
		}

		&__form {
			input {
				min-width: 270px;
			}
		}

		&__form-text {}

		&__form-btn {
			min-width: 270px;
			padding: 20px 50px;


			font-size: .9em;
			font-weight: 700;
			text-align: center;
		}

		&__call {
			display: felx;
			flex-direction: column;
		}

		&__call-left {
			width: 100%;
		}

		&__call-right {
			width: 100%;
		}
	}

	.kitchen {
		display: none;
	}

	.job {

		&__title {

			font-size: 1.1em;
			font-weight: 700;
		}
	}

	.job-slider {

		&__image {

			img:nth-of-type(2),
			img:nth-of-type(3) {
				display: none;
			}
		}
	}

	.sale {

		&__title {
			width: 100%;

			font-size: 1.1em;
			font-weight: 700;
			line-height: 1.2em;
		}

		&__subtitle {
			font-size: 1.9em;
			font-weight: 100;

		}

		.repairs-columns {
			display: flex;
			flex-direction: column;

			&__item {
				width: 100%;
				margin: 0;
				margin-bottom: 30px;
			}

			&__item:last-of-type {
				margin-bottom: 0;
			}

			&__title {}

			&__link {
				width: 40%;

				text-align: center;
			}
		}













	}

	.time {
		width: 100%;
		max-width: 300px;
		padding-left: 15px;
		padding-right: 15px;

		&__title {
			width: 100%;

			font-size: 1.1em;
			font-weight: 700;
		}

		&__step {
			font-size: .9em;
			font-weight: 100;

		}
	}

	.time-columns {
		display: flex;
		flex-direction: column;
		justify-content: center;


		&__item {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;

			text-align: center;
		}

		&__item:last-of-type {
			margin-bottom: 0;
		}

		.time-columns__item::after {
			display: none;
		}
	}

	.wholesale {
		font-size: 1.1em;
		font-weight: 300;
	}

	.sale-columns {
		display: flex;
		flex-direction: column;

		&__image {
			margin: 0;
			margin-bottom: 30px;
		}

		&__image:last-of-type {
			margin-bottom: 0;
		}
	}

	.warranty {
		width: 100%;

		font-size: 1.1em;
		font-weight: 700;
	}

	.warranty-columns {
		display: flex;
		flex-direction: column;

		&__image {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;

			text-align: center;
		}

		&__image:last-of-type {
			margin-bottom: 0;
		}
	}

	.job-columns {
		display: flex;
		flex-direction: column;
	}

	.job-price {

		&__box {
			width: 100%;
			max-width: 300px;
			margin: 50px auto;
			padding-left: 15px;
			padding-right: 15px;
		}

		&__title {
			font-size: .9em;
			font-weight: 700;
		}

		&__subtitle {
			font-size: .9em;
			font-weight: 300;
		}

		&__list {
			display: flex;
			flex-direction: column;
			margin: 0;
		}


		&__number {
			margin-right: 8px;

			font-size: .9em;
			font-weight: 500;
		}

		&__text {
			font-size: .65em;
			font-weight: 500;

		}
	}

	.request {

		&__box {
			width: 100%;
			max-width: 300px;
			margin: 50px auto;
			padding-left: 15px;
			padding-right: 15px;
		}

	}
}







.address {
	display: flex;


	&__map {
		flex-basis: 50%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__contant {
		flex-basis: 50%;
	}

	&__title {
		margin-bottom: 50px;

		color: #000000;
		text-align: left;
		font-size: 1.2em;
		font-weight: 700;
		line-height: 1.5em;
	}

	span {
		position: relative;
		display: block;
		margin-left: 20px;
		padding-left: 25px;

		color: #000000;
		text-align: left;
		font-weight: 700;
		line-height: 1.3em;
	}

	&__city {
		width: 165px;
		margin-bottom: 30px;
	}

	&__city::before {
		position: absolute;
		top: 5px;
		left: -20px;
		display: block;
		content: "";
		width: 20px;
		height: 20px;

		background-image: url(/img/map.svg);
		background-repeat: no-repeat;
	}

	&__time {
		width: 145px;
		margin-bottom: 30px;
	}

	&__time::before {
		position: absolute;
		top: 5px;
		left: -20px;
		display: block;
		content: "";
		width: 20px;
		height: 20px;

		background-image: url(/img/clock-with-white-face.svg);
		background-repeat: no-repeat;
	}

	&__phone {
		width: 170px;
	}

	&__phone::before {
		position: absolute;
		top: 5px;
		left: -20px;
		display: block;
		content: "";
		width: 20px;
		height: 20px;

		background-image: url(/img/phone-call-button.svg);
		background-repeat: no-repeat;
	}
}

.address-box {
	max-width: 300px;
	margin: 100px auto 100px 200px;
}


@media (max-width: 320px) {
	.address {
		display: flex;
		flex-direction: column-reverse;


		&__map {
			max-width: 300px;
			margin-top: 30px;
			padding-left: 15px;
			padding-right: 15px;
		}

		&__contant {
			width: 100%;
		}

		&__title {

			font-size: 1.1em;
			font-weight: 700;
		}

	}

	.address-box {
		width: 100%;
		max-width: 300px;
		margin: 0;
		margin-top: 50px;
		padding-left: 15px;
		padding-right: 15px;
	}

}